<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li>
          <a href="/users" class="nav-link ms-auto">Users</a>
        </li>
        <li>
          <a href="/groups" class="nav-link ms-auto">Groups</a>
        </li>
        <button class="nav-link btn btn-danger ms-auto" onclick="logout()">
          Log out
        </button>
      </ul>
    </div>
  </div>
</nav>

<script type="text/javascript">
  function logout() {
    fetch("/auth/logout", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      credentials: "include",
    })
      .then((response) => {
        if (response.ok) {
          window.location.href = "/";
        } else {
          console.error("Logout failed");
        }
      })
      .catch((error) => console.error("Error during logout:", error));
  }
</script>
