<!DOCTYPE html>
<html lang="hu" data-bs-theme="dark">
  <head>
    <%- include('partials/header', {title: "Jelszó visszaállítás"} ) %>
  </head>
  <body class="text-light">
    <div
      class="container d-flex justify-content-center align-items-center min-vh-100"
    >
      <form class="card p-4 shadow-lg" style="width: 350px">
        <h3 class="text-center mb-4">Jelszó helyreállítása</h3>
        <div class="mb-3">
          <label for="email" class="form-label">Email cím</label>
          <input type="email" id="email" required class="form-control" />
        </div>
        <div class="d-flex justify-content-center">
          <button class="btn btn-primary w-100" onclick="sendResetEmail()">
            Email küldése
          </button>
        </div>
        <div class="mt-3">
          <a href="/" class="visszalepes">Visszalépés</a>
        </div>
      </form>
    </div>
    <script></script>
  </body>
</html>
