<!DOCTYPE html>
<html lang="hu" data-bs-theme="dark">
  <head>
    <%- include('partials/header', {title: "Bejelentkezés"} ) %>
  </head>
  <body class="text-light">
    <div
      class="container d-flex justify-content-center align-items-center min-vh-100"
    >
      <div class="card p-4 shadow-lg" style="width: 350px">
        <h3 class="text-center mb-4">Bejelentkezés</h3>
        <form onsubmit="return Login(event)">
          <div class="mb-3">
            <label for="username" class="form-label">Felhasználónév</label>
            <input type="text" id="username" class="form-control" />
            <span class="text-danger" id="username-error"></span>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Jelszó</label>
            <input type="password" id="password" class="form-control" />
            <span class="text-danger" id="password-error"></span>
          </div>
          <div class="d-flex justify-content-center">
            <button class="btn btn-primary w-100" type="submit">
              Bejelentkezés
            </button>
          </div>
        </form>
        <br />
      </div>
    </div>

    <!-- Modal -->
    <div class="modal" id="loginModal">
      <div class="modal-dialog">
        <h4 class="modal-title" id="modalTitle"></h4>
        <p class="modal-body" id="modalBody"></p>
      </div>
    </div>

    <script>
      const username = document.getElementById("username");
      const password = document.getElementById("password");

      function Login(event) {
        event.preventDefault();

        fetch(`/auth/login`, {
          headers: {
            "Content-Type": "application/json",
          },
          method: "POST",
          body: JSON.stringify({
            username: username.value,
            password: password.value,
          }),
        }).then(async (res) => {
          const data = await res.json();

          if (data.message) {
            document.getElementById("modalTitle").innerText = "Hiba történt!";
            document.getElementById("modalBody").innerText =
              "Hibás felhasználónév vagy jelszó!";
            const myModal = new bootstrap.Modal(
              document.getElementById("loginModal")
            );
            myModal.show();

            return;
          }
          document.getElementById("modalTitle").innerHTML =
            "Sikeres bejelentkezés!";
          document.getElementById("modalBody").innerText =
            "Sikeres bejelentkezés!";
          const myModal = new bootstrap.Modal(
            document.getElementById("loginModal")
          );
          myModal.show();
          // Sikeres bejelentkezés esetén átirányítás
          setTimeout(() => {
            window.location.href = "/groups";
          }, 3000);
        });
      }
    </script>
  </body>
</html>
