<!DOCTYPE html>
<html lang="hu" data-bs-theme="dark">
  <head>
      <%- include('partials/header', {title: "Regisztráció"} ) %>
  </head>
  <body>
      <body class="text-light"></body>
      <div
        class="container d-flex justify-content-center align-items-center min-vh-100"
      >
        <div class="card p-4 shadow-lg" style="width: 350px">
          <h3 class="text-center mb-4">Register</h3>
          <div class="mb-3">
            <input type="text" id="name" class="form-control" placeholder="Név"/>
          </div>
          <div class="mb-3">
            <input type="text" id="email" class="form-control" placeholder="Email" />
          </div>
          <div class="mb-3">
            <input type="text" id="username" class="form-control" placeholder="Username" />
          </div>
          <div class="mb-3">
            <input type="text" id="om" class="form-control" placeholder="OM azonosító" />
          </div>
          <div class="mb-3">
            <input type="password" id="password" class="form-control" placeholder="Jelszó" />
          </div>
          <div class="mb-3">
            <input type="password" id="password2" class="form-control" placeholder="Jelszó mégegyszer" />
          </div>
          <div class="d-flex justify-content-center">
            <button class="btn btn-primary w-100" onclick="Register()">Register</button>
          </div>
          <br />
          <div class="d-flex justify-content-center">
              <a href="/">Van már fiókod?</a>
          </div>
        </div>
      </div>

    </div>
      </div>

  </body>
</html>

<script>
    const username = document.getElementById("username");
    const name = document.getElementById("name");
    const email = document.getElementById("email");
    const om = document.getElementById("om");
    const password = document.getElementById("password");
    const password2 = document.getElementById("password2");
      
        
        function Register(){
            if(password.value === password2.value){
            fetch(`/auth/register`, {
                headers: {
                    'Content-Type': 'application/json'
                },
                method: "POST",
                body: JSON.stringify({
                    email: email.value, 
                    nev: name.value,
                    om: om.value,
                    groupsNeve: "USER",
                    username: username.value,
                    password: password.value
                })
            }).then((res) => {
              location.replace("/")
            }).catch((err) => {console.error(err)})
        }else{
            alert("A két jelszó nem egyezik")
        }   

        }

</script>